.Content-block {
    height: 840px;
    width: 1800px;
    background: #F0F0F0;
    position: absolute;
    left: 60px;
    top: 60px;
    animation: Content-block 1000ms ease-in forwards;
}

@keyframes Content-block {
    0% {
        opacity: 0.5;
    }
    50% {
        background: #979292;
    }
    100% {
        opacity: 1;
        background: #F0F0F0;
    }
}

@media (max-width: 1366px) {
    .Content-block {
        height: 486px;
        width: 1207px;
        left: 78px;
        top: 60px;
    }
}