body {
    font-family: 'Roboto', sans-serif;
}

.Main-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.App {
    max-width: 1920px;
    max-height: 937px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 1366px) {
    .App {
        max-width: 1366px;
        height: auto;
    }
}